.env
.git
.gitignore
.editorconfig
.pep8.conf

Makefile
README.md

.test
sample

template/node_modules
template/src/html
template/src/js
template/src/scss
template/.stylelintrc
template/package.json
template/package-lock.json
template/webpack.config.js
