mixin footer(bg)
  div(class=`page-footer z-depth-3 ${bg}`)
    div.row
      div.col.s9
        h5.white-text Footer
        p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
      div.col.s3
        h5.white-text Links
        ul
          li
            a.grey-text.text-lighten-3 Link Link Link
          li
            a.grey-text.text-lighten-3 Link Link Link
    div.footer-copyright.right-align © 20XX Project. Papyrus
