extends ./_layout.pug

block metas
  title Template Index

block contents
  div#wrapper
    h1.z-depth-2 PDF Template List
    ul
      li.center-align
        a.waves-effect.btn.green(href="/template_1.html") Template 1
      li.center-align
        a.waves-effect.btn.red(href="/template_2.html") Template 2
